<?xml version="1.0"?>
<config>
  <modules>
    <Neo_Lookbook>
      <version>0.1.0</version>
      
    </Neo_Lookbook>
  </modules>
  <frontend>
    <routers>
      <lookbook>
        <use>standard</use>
          <args>
            <module>Neo_Lookbook</module>
            <frontName>lookbook</frontName>
          </args>
      </lookbook>
    </routers>
		<layout>
		  <updates>
			<lookbook>
			  <file>lookbook.xml</file>
			</lookbook>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <lookbook>
        <class>Neo_Lookbook_Helper</class>
      </lookbook>
    </helpers>
	<blocks>
	  <lookbook>
		<class>Neo_Lookbook_Block</class>
	  </lookbook>
	</blocks>
  </global>
</config> 