<?xml version="1.0"?>
<config>
  <modules>
    <Hasla_Shopbycollection>
      <version>0.1.0</version>
    </Hasla_Shopbycollection>
  </modules>
  <frontend>
    <routers>
      <shopbycollection>
        <use>standard</use>
          <args>
            <module>Hasla_Shopbycollection</module>
            <frontName>shopbycollection</frontName>
          </args>
      </shopbycollection>
    </routers>
		<layout>
		  <updates>
			<shopbycollection>
			  <file>shopbycollection.xml</file>
			</shopbycollection>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <shopbycollection>
        <class>Hasla_Shopbycollection_Helper</class>
      </shopbycollection>
    </helpers>
	<blocks>
	  <shopbycollection>
		<class>Hasla_Shopbycollection_Block</class>
	  </shopbycollection>
	</blocks>
  </global>
</config> 