<?xml version="1.0"?>
<config>
  <modules>
    <Neo_Reatilers>
      <version>0.1.0</version>
    </Neo_Reatilers>
  </modules>
  <frontend>
    <routers>
      <reatilers>
        <use>standard</use>
          <args>
            <module>Neo_Reatilers</module>
            <frontName>retailers</frontName>
          </args>
      </reatilers>
    </routers>
		<layout>
		  <updates>
			<reatilers>
			  <file>reatilers.xml</file>
			</reatilers>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <reatilers>
        <class>Neo_Reatilers_Helper</class>
      </reatilers>
    </helpers>
	<blocks>
	  <reatilers>
		<class>Neo_Reatilers_Block</class>
	  </reatilers>
	</blocks>
	<models>
	  <reatilers>
		<class>Neo_Reatilers_Model</class>
		<resourceModel>reatilers_mysql4</resourceModel>
	  </reatilers>
	  <reatilers_mysql4>
		<class>Neo_Reatilers_Model_Mysql4</class>
		<entities>		  
			  <retailers>
				<table>hasla_reatailers</table>
			  </retailers>
        </entities>
	  </reatilers_mysql4>
	</models>
	<resources>
	  <reatilers_setup>
		<setup>
		  <module>Neo_Reatilers</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </reatilers_setup>
	  <reatilers_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </reatilers_write>
	  <reatilers_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </reatilers_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <reatilers>
	    <use>admin</use>
		<args>
		  <module>Neo_Reatilers</module>
		  <frontName>reatilers</frontName>
		</args>
	  </reatilers>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <reatilers module="reatilers">
		<title>Reatilers</title>
		<sort_order>100</sort_order>
		<children>
		  <retailers module="reatilers">
		    <title>Manage Retailers</title>
			<sort_order>0</sort_order>
			<action>reatilers/adminhtml_retailers</action>
		  </retailers>
		</children>
	  </reatilers>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<reatilers translate="title" module="reatilers">
			  <title>Reatilers</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <retailers translate="title">
			<title>Manage Retailers</title>
			<sort_order>0</sort_order>
		  </retailers>
			  </children>
			</reatilers>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<reatilers>
		  <file>reatilers.xml</file>
		</reatilers>
	  </updates>
	</layout>
  </adminhtml>
</config> 