<?xml version="1.0"?>
<config>
  <modules>
    <Katalog_Bunad>
      <version>0.1.0</version>
    </Katalog_Bunad>
  </modules>
  <frontend>
    <routers>
      <katalog>
        <use>standard</use>
          <args>
            <module>Hasla_Katalog</module>
            <frontName>katalog</frontName>
          </args>
      </katalog>
    </routers>
		<layout>
		  <updates>
			<katalog>
			  <file>katalog.xml</file>
			</katalog>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <katalog>
        <class>Hasla_Katalog_Helper</class>
      </katalog>
    </helpers>
	<blocks>
	  <katalog>
		<class>Hasla_Katalog_Block</class>
	  </katalog>
	</blocks>
  </global>
</config> 