<?xml version="1.0"?>
<config>
  <modules>
    <Hasla_Shopcategory>
      <version>0.1.0</version>
    </Hasla_Shopcategory>
  </modules>
  <frontend>
    <routers>
      <shopcategory>
        <use>standard</use>
          <args>
            <module>Hasla_Shopcategory</module>
            <frontName>shopcategory</frontName>
          </args>
      </shopcategory>
    </routers>
		<layout>
		  <updates>
			<shopcategory>
			  <file>shopcategory.xml</file>
			</shopcategory>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <shopcategory>
        <class>Hasla_Shopcategory_Helper</class>
      </shopcategory>
    </helpers>
	<blocks>
	  <shopcategory>
		<class>Hasla_Shopcategory_Block</class>
	  </shopcategory>
	</blocks>
  </global>
</config> 