<?xml version="1.0"?>
<config>
  <modules>
    <Hasla_Productkatalog>
      <version>0.1.0</version>
    </Hasla_Productkatalog>
  </modules>
  <frontend>
    <routers>
      <productkataloges>
        <use>standard</use>
          <args>
            <module>Hasla_Productkatalog</module>
            <frontName>productkatalog</frontName>
          </args>
      </productkataloges>
    </routers>
		<layout>
		  <updates>
			<productkataloges>
			  <file>productkatalog.xml</file>
			</productkataloges>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <productkatalog>
        <class>Hasla_Productkatalog_Helper</class>
      </productkatalog>
    </helpers>
	<blocks>
	  <productkatalog>
		<class>Hasla_Productkatalog_Block</class>
	  </productkatalog>
	</blocks>
	<models>
	  <productkatalog>
		<class>Hasla_Productkatalog_Model</class>
		<resourceModel>productkatalog_mysql4</resourceModel>
	  </productkatalog>
	  <productkatalog_mysql4>
		<class>Hasla_Productkatalog_Model_Mysql4</class>
		<entities>		  
			  <productkatalog>
				<table>productkatalog</table>
			  </productkatalog>
        </entities>
	  </productkatalog_mysql4>
	</models>
	<resources>
	  <productkatalog_setup>
		<setup>
		  <module>Hasla_Productkatalog</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </productkatalog_setup>
	  <productkatalog_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </productkatalog_write>
	  <productkatalog_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </productkatalog_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <productkatalog>
	    <use>admin</use>
		<args>
		  <module>Hasla_Productkatalog</module>
		  <frontName>admin_productkatalog</frontName>
		</args>
	  </productkatalog>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <productkatalog module="productkatalog">
		<title>Productkatalog</title>
		<sort_order>100</sort_order>
		<children>
		  <productkatalog module="productkatalog">
		    <title>Manage Productkatalog</title>
			<sort_order>0</sort_order>
			<action>admin_productkatalog/adminhtml_productkatalog</action>
		  </productkatalog>
		</children>
	  </productkatalog>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<productkatalog translate="title" module="productkatalog">
			  <title>Productkatalog</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <productkatalog translate="title">
			<title>Manage Productkatalog</title>
			<sort_order>0</sort_order>
		  </productkatalog>
			  </children>
			</productkatalog>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<productkatalog>
		  <file>productkatalog.xml</file>
		</productkatalog>
	  </updates>
	</layout>
  </adminhtml>
</config> 