<?xml version="1.0"?>
<config>
  <modules>
    <Hasla_Bunad>
      <version>0.1.0</version>
    </Hasla_Bunad>
  </modules>
  <frontend>
    <routers>
      <bunad>
        <use>standard</use>
          <args>
            <module>Hasla_Bunad</module>
            <frontName>bunad</frontName>
          </args>
      </bunad>
    </routers>
		<layout>
		  <updates>
			<bunad>
			  <file>bunad.xml</file>
			</bunad>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <bunad>
        <class>Hasla_Bunad_Helper</class>
      </bunad>
    </helpers>
	<blocks>
	  <bunad>
		<class>Hasla_Bunad_Block</class>
	  </bunad>
	</blocks>
  </global>
</config> 