@charset "utf-8";
/* CSS Document */

body{
	margin:0px auto;
	font-family: 'Titillium Web', sans-serif;
	background:#FFF;
}

a, img{
	border:none;
	outline:none;
}

/* img{
	width:100%;
	height:auto;
}

.social_icon_ftr img{
	width:23px;
	height:23px;
}

.shopping_cart img{
{
	width:27px;
	height:24px;
}
 */



.spacer{
	clear:both;
}

/*page_1_start*/

.wrapper{
	margin:0px auto;
	width:100%;
	border:0px solid red; 
}

.top_searc_div{
	margin:0px auto;
	width:1000px;
	min-height:115px;
	border:0px solid #0F0;
}

.top_right{
	float:right;
	margin-top:27px;
}

.search_div{
	float:right;
	width:246px;
	height:26px;
	background:url(../images/search_icon.png) no-repeat;
	background-position:left;
	border:1px solid #3b3d43;
	background-position:2px 3px;

	
}
.search_div input[type="text"]{
	float:right;
	width:151px;
	height:17px;
	border:none;
	background:#FFF;
	font-size: 13px;
    line-height: 17px;
    margin: 2px 0 0;
    padding: 2px 0 2px 6px;
	border-left:1px solid #222;
	font-family: 'Titillium Web',sans-serif;
	color:#555;
	border-radius:none !important;
    
}

.srch_button{
	float:right;
	width:58px;
	height:26px;
	text-align:center;
	background:#3b3d43;
}

.srch_button a{
	margin:0px auto;
	font-size:15px;
	color:#fff;
	text-decoration:none;
	font-weight:bold;
	text-transform:uppercase;
}
.srch_button a:hover{text-decoration:none;}

.flag_div{
	float:right;
	border:0px solid #F0F;
	height:26px;
	margin-top:3px;
}

.flag_div ul{
	margin:0px;
	padding:0px;
	list-style:none;
}

.flag_div li{
	display: inline-table;
    line-height: 25px;
    margin-right: 10px;
    vertical-align: top;
	font-size: 12px;
	color: #3b3d43;
	text-decoration: none;
	text-transform: uppercase;
}

.flag_div li a{
	font-size:12px;
	color:#3b3d43;
	text-decoration:none;
	text-transform:uppercase;
	line-height:25px;
}

.shopping_cart{
	float:right;
	height:25px;
	margin-top:25px;
	border:0px solid red;
}

.cart_01{
	float:right;
	margin-left:10px;
}

.cart_01 img{
	float:right;
	margin-right:8px;
}

.cart_01 label{
	float:right;
	background:#d3d4d2;
	padding:0px 10px 0px 10px;
	text-align:center;
	line-height:25px;
	font-size:15px;
	color:#555;
	font-weight:bold;
	
}

.cart_01 span{
	float:right;
	line-height:25px;
	font-size:12px;
	color:#000;
	text-transform:uppercase;
	margin-right:10px;
	margin-top:2px;
}

.logo_bg_bar{
	margin:0px auto;
	width:100%;
	height:207px;
	background:url(../images/logo_bar.jpg) repeat-x;
	border:0px solid red;
	margin-top:-36px; 
}

.logo_bg_bar2{
	margin:0px auto;
	width:100%;
	height:207px;
	background:url(../images/top_orange_bg.jpg) repeat-x;
	border:0px solid red;
	margin-top:-36px; 
}

.logo_bg_bar2 .blue_bar .logo a img{margin:2px 0 0 0;}

.blue_bar{
	margin:0px auto;
	width:1000px;
	height:211px;
}

.logo{
	float:left;
	z-index:1;
	height: auto;
	position:absolute;
	margin-top:-1px;
}

.res_logo {
    display: none;
}

body:not(:-moz-handler-blocked) .menu {top: 150px;}
@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) { .menu {top: 176px;} }
.menu {
    float: left;
    height: 30px;
    left: 165px;
    position: relative;    
    z-index: 111;
	top: 155px;
}


.menu ul{
	margin:0px;
	padding:0px;
	list-style:none;
	z-index:999;
	position:relative;
}

.menu li{
	display:inline;
	margin-right:10px;
}

.menu li a{
	text-decoration:none;
	text-transform:uppercase;
	font-size:13px;
	color:#3b3d43;
}

.menu li a:hover{
	color:#448e99;

}

.menu li a.active{
	color:#448e99;
	font-weight:bold !important;}

#menu_active{
	color:#448e99;
	font-weight:bold !important;
}

.top_scroller {
    display: none;
}

.nav_button {
    display: none;
}

.res_left_div {
    display: none;
}

.show_per_page{
	float:right;
	border:0px solid red;
	height:20px;
	margin-right:-2px;
	margin-top:153px;
}

.show_per_page ul{ 
	margin:0px;
	padding:0px;
	list-style:none;
}

.show_per_page li{
	display:inline;
	font-size:13px;
	color:#3b3d43;
	margin-right:5px;
}

.show_per_page a{
	display:inherit;
	font-size:13px;
	color:#3b3d43;
	text-decoration:none;
}

.show_per_page a:hover{
	display:inherit;
	font-size:13px;
	color:#3b3d43;
	text-decoration:underline;
	font-weight:600;
}

.main_div{
	margin:0px auto;
	width:1000px;
	border:0px solid red;
	min-height: 500px;
}

.main_slider{
	margin:20px auto;
	width:100%;
	/*border-top:1px solid #3b3d43;*/
	clear:both;
}

.main_slider h1{
	/*float:left;*/
	margin:0px;
	font-size:17px;
	color:#3b3d43;
	margin-top:20px;
	text-transform:uppercase;
	font-weight:normal;
}

.banner{
	margin:0px auto;
	width:1000px;
	height:auto; 
	/*background:#a9bb6a;
	background-image:url(../images/picture_icon_03.png);
	background-repeat:no-repeat;background-position:center;
	background-color:#a9bb6a*/;
}



.product_detail_main{
	margin:0px auto;
	width:100%;
	margin-top:-6px;
	border:0px solid #00F;

}

.left_div{
	float:left;
	width:495px;
	height:160px;
	background:#d3d4d2;
}


.dtl_img{
	float:left;
	width:158px;
	height:160px;
	/*background-image:url(../images/picture_icon_03.png);
	background-repeat:no-repeat;background-position:center;
	background-color:#a9bb6a;
	*/
}

.dtl_img img{height:100%;}

.dtls_right_text{
	float:left;
	width:300px;
	border:0px solid #0F0;
	margin-left:14px;
	margin-top:18px;
}

.dtls_right_text h1{
	/*float:left;*/
	margin:0px;
	font-size:13px;
	color:#3b3d43;
}


.dtls_right_text p{
	/*float:left;*/
	margin:0px;
	line-height:16px;
	font-size:13px;
	color:#3b3d43;
}

.dtls_right_text a{
	float:left;
	margin:0px;
	font-size:12px;
	color:#448e99;
	text-decoration:none;
}

.dtls_right_text h1 a{color:#000; text-transform:none; font-size: 14px;}

.margin_left_10{
	margin-left:10px;
}

.thumb_nail_main{
	margin:0px  auto;
	width:100%;
	margin-top:0px;
	border:0px solid #0C0;
}

.thumb_nail_main h1{
	float:left;
	margin:0px;
	font-size:18px;
	color:#3b3d43;
	font-weight:normal;
}

.thumb_nail_01{
	float:left;
	margin-right:6px;
	width:160px;
	border:0px solid #00F;
	/*background-image:url(../images/picture_icon_03.png);
	background-repeat:no-repeat;background-position:center;
	background-color:#a9bb6a;*/
	cursor:default;
	margin-bottom: 12px;
}

.thumb_img{
	margin:0px auto;
	height:160px;
	/*background-image:url(../images/picture_icon_03.png);
	background-repeat:no-repeat;background-position:center;
	background-color:#a9bb6a;*/
	cursor:pointer;
}

.buy_div{
	margin:0px auto;
	border-top:1px solid #3b3d43;
	margin-top:1px;
	cursor: pointer;
}

.buy_div span{
	float:left;
	margin:0px;
	line-height:15px;
	margin-top:5px;
	font-size:13px;
	color:#3b3d43;
	width:68%;
	text-transform:uppercase;
}

.buy_div a{
	float:right;
	padding:2px 7px 2px 7px;
	background:#3b3d43;
	text-decoration:none;
	font-size:15px;
	text-transform:uppercase;
	color:#fff;
	margin-top:10px;
	font-weight:bold;
}

.margin_right{
	margin-right:0px;
}

.footer_main{
	margin:0px auto;
	width:100%;
	border-top:10px solid #d3d4d2; 
	margin-top:35px;
}

.footer{
	margin:0px auto;
	width:1000px;
	min-height:180px;
	border-bottom:1px solid #3b3d43;
}

.footer_left{
	float:left;
	width:621px;
	margin-top:10px;
	border:0px solid #F0F;
}


.footer_logo{
	float:left;
	width:96px;
	margin-top:5px;
}


.footer_left_text{
	float:left;
	width:137px;
	border:0px solid red;
	margin-left:36px;
}

.footer_left_text label{
	float:left;
	margin:0px;
	font-size:13px;
	color:#3b3d43;
}

.footer_left_text h2{
	float:left;
	margin:0px;
	font-size:13px;
	color:#3b3d43;
	margin-top:10px;
}

.footer_left_text p{
	float:left;
	margin:0px;
	font-size:13px;
	color:#3b3d43;
	line-height:14px;
}

.margin_top{
	margin-top:10px;
}

.footer_left_text ul{
	margin:0px;
	padding:0px;
	list-style:none;
}

.footer_left_text li{
	margin:0px;
	font-size:13px;
	color:#3b3d43;
	font-weight:300;
	line-height:14px;
	font-weight:bold;
}

.footer_left_text a{
	margin:0px;
	font-size:13px;
	color:#3b3d43;
	font-weight:300;
	font-weight:bold;
	text-decoration:none;
}

.footer_left_text li a:hover{
	color:#448e99;
}

.bunad_button{
	float:left;
	height:23px;
	text-align:center;
	line-height:19px;
	margin-top:15px;
	background:#b1b2b4;
}

.bunad_button a{
	margin:0px auto;
	text-transform:uppercase;
	text-decoration:none;
	color:#fff;
	font-size:13px;
	padding:0 10px 0 10px;
}

.right_div{
	float:right;
	width:250px;
	margin-top:10px;
	border:0px solid #0FF;
}

.right_div h1{
	float:left;
	margin:0px;
	font-size:14px;
	color:#3b3d43;
	font-weight:normal;
	text-transform:none;
}


.search_div_ftr{
	float:left;
	width:246px;
	height:26px;
	margin-top:5px;
	border:1px solid #3b3d43;
	
}


.search_div_ftr input[type="text"]{
	float:left;
	width:165px;
	height:20px;
	border:none;
	background:#FFF;
	font-size:14px;
	margin: 0 0 0 0px;
    text-transform: lowercase;
	font-family: 'Titillium Web',sans-serif;
	 padding: 1px 0 0 10px;
	
}

.srch_button_ftr{
	float:right;
	width:58px;
	height:26px;
	text-align:center;
	line-height:26px;
	background:#3b3d43;
}

.srch_button_ftr a{
	margin:0px auto;
	font-size:12px;
	color:#fff;
	text-decoration:none;
}

.social_icon_ftr ul{
	margin:0px;
	padding:0px;
	margin-top:18px;
	list-style:none;
}

.social_icon_ftr li{
	display:inline;
	margin-right:3px;
}

.supprt_text{
	float:right;
	font-size:13px;
	color:#3b3d43;
	font-weight:bold;
}

.bottom_links{
	margin:0px auto;
	width:1000px;
	border:0px solid red;
	height:20px;
}

.bottom_links ul{
	float:right;
	margin:0px;
	padding:0px;
	list-style:none;
}

.bottom_links li{ 
	display:inline;
	font-size:12px;
	color:#6a6d72;
}

.bottom_links a{ 
	text-decoration:none;
	font-size:12px;
	color:#6a6d72;
}

/*page_1_end*/




/*page_3_start*/

.product_list_left{
	float:left;
	width:160px;
	border:0px solid #F0F;
}

.thumb_nail_main_1{
	float:right;
	width:832px;
}

.thumb_nail_02{
	float:left;
	margin-right:6px;
	width:160px;
	height:220px;
	border:0px solid #00F;
}

.product_list_left ul{
	margin:0px;
	padding:0px;
	margin-top:10px;
	list-style:none;
	text-transform: capitalize;
}

.product_list_left li{
	clear:both;
	line-height:17px;
}

.product_list_left a{
	float:left;
	margin:0px;
	font-size:13px;
	color:#3b3d43;
	font-weight:600;
	text-decoration:none;
	text-transform: inherit;
}

.product_list_left a:hover{
	color:#448e99;
}

#left_product_active{
	color:#448e99;
}


/*page_3_end*/


/*page_4_start*/



.category_text_div{
	margin:0px auto;
	width:100%;
	margin-top:35px;
	border:0px solid #0F0;  	
}

.category_text_div h1{
	float:left;
	margin:0px;
	text-transform:uppercase;
	font-size:17px;
	color:#3b3d43;
}

.category_text_div p{
	float:left;
	clear:both;
	margin:0px;
	font-size:17px;
	color:#3b3d43;
}

/*page_4_end*/





/*page_6_start*/


.right_internal{
	float:right;
	width:830px;
	border:0px solid red;
}

.interanl_about_div{
	float:right;
	width:245px;
	border:0px solid #0F0;
	margin-top:58px;
}

.interanl_about_div h1{
	float:left;
	margin:0px;
	font-size:17px;
	color:#3b3d43;
	text-transform:uppercase;
	 font-weight: 600;
}

.interanl_about_div p{
	float:left;
	margin:0px;
	font-size:13px;
	color:#3b3d43;
	line-height:14px;
	clear:both;
}

.interanl_about_div span{
	float:left;
	margin:0px;
	font-size:17px;
	color:#3b3d43;
	margin-top:17px;
	width:100%;
	margin-bottom: 5px;
	font-weight:600;
	text-transform:uppercase;
	font-weight:normal;
}

.interanl_about_div img{
	float:left;
	clear:both;
	margin-top:5px;
}

.chat_button{
	float:left;
	clear:both;
	text-align:center;
	background:#b1b2b4;
	margin-top:10px;
}

.chat_button a{
	margin:0px auto;
	padding:5px 10px 5px 10px;
	font-size:13px;
	font-weight:600;
	color:#fff;
	text-transform:uppercase;
	text-decoration:none;
}

.about_likes_buttn{
	float:left;
	width:172px;
	border:0px solid #0F0;
	clear:both;
	margin-top:5px;
}

.like_01{
	float:left;
	height:21px;
	line-height:18px;
	text-align:center;
	background:#3b3d43;
	margin-right:10px;
}

.like_01 a{
	margin:0px auto;
	padding-left:10px;
	padding-right:10px;
	font-size:13px;
	color:#fff;
	font-weight:bold;
	text-decoration:none;
}

.fb_like{
	float:left;
	width:75px;
	height:21px;
	line-height:21px;
	/*border:1px solid #47484e;*/
}

.fb_like img{
	float:left;
	margin:0px;
	width:24px;
}

.fb_like label{
	float:left;
	font-size:12px;
	margin-left:10px;
	text-transform:uppercase;
}

.fb_like a{
	text-decoration:none;
	color:#3b3d43;
	font-weight:600;
	text-transform:uppercase;
}

.related_product_div{
	margin:0px auto;
	width:100%;
	margin-top:30px;
	padding:8px 0 8px 0;
	border-top:1px solid #3b3d43;
}

.related_product_div h1{
	float:left;
	margin:0px;
	font-size:13px;
	color:#3b3d43;
	text-transform:uppercase;
}

.related_img_main{
	margin:0px auto;
	width:100%;
	clear:both;
}

.related_01{
	float:left;
	width:75px;
	height:75px;
	margin-right:6.6px;
	/*background-image:url(../images/picture_icon_03.png);
	background-repeat:no-repeat;background-position:center;
	background-color:#a9bb6a;
	
	border-bottom:1px solid #3b3d43;*/
}



.left_internal_slider{
	float:left;
	width:510px;
	border:0px solid #0F0;
}

.product_detail_div{
	margin:0px auto;
	width:100%;
	border-bottom:1px solid #3b3d43;
	/*padding-bottom:1px;*/
}

.product_left_img{
	float:left;
	width:327px;
	min-height:326px;
	/*background-image:url(../images/picture_icon_03.png);
	background-repeat:no-repeat;background-position:center;
	background-color:#a9bb6a;*/
}

.right_details{
	float:right;
	width:173px;
	margin-top:60px;
	border:0px solid red;
}

.right_details h1{
	float:left;
	margin:0px;
	font-size:16px;
	color:#3b3d43;
	text-transform:uppercase;
	 font-weight: 600;
}


.right_details span{
	float:left;
	margin:0px;
	font-size:13px;
	color:#3b3d43;
}

.right_details select{
	margin:0px auto;
	width:100%;
	height:21px;
	margin-top:12px;
	border:1px solid #3b3d43;
}

.counter_div{
	float:left;
	height:23px;
	line-height:23px;
	margin-top:0px;
	border:0px solid #F0F;
}

.counter_div label{
	float:left;
	margin:0px;
	font-size:14px;
	color:#3b3d43;
	font-weight:normal;
}

.counter_div input{
	float:left;
	width:35px !important;
	height:21px;
	margin-left:10px;
	border:1px solid #47484e;
		
}

.total_with_buy{
	margin:0px auto;
	width:100%;
	margin-top:20px;
	border:0px solid red;
}

.total_with_buy label{
	float:left;
	margin:0px;
	font-size:17px;
	color:#3b3d43;
	line-height:20px;
	font-weight: 600;
}

#margin-top_none{
	margin-top:0px;
	border-top:0px;
}

.related_product_div2{
	margin:0px auto;
	width:100%;
	padding:8px 0 8px 0;
}

.related_product_div2 h1{
	float:left;
	margin:0px;
	font-size:13px;
	color:#3b3d43;
	text-transform:uppercase;
	font-weight:normal;
}

.next_preview{
	margin:0px auto;
	border:0px solid #0F0;
	margin-top:10px;
	width:228px;
}

.preview{
	float:left;
}

.preview a{
	float:left;
	font-size:14px;
	color:#3b3d43;
	text-decoration:none;

}

.next{
 float: right;
 color: black;
 font-size: 14px;
 font-weight: bolder;
}

.next a{
	float:right;
	font-size:14px;
	color:#3b3d43;
	text-decoration:none;

}

/*page_6_end*/


/*page_7_start*/

.add_cart_main{
	position:absolute;
	width:330px;
	margin-left:632px;
	border:1px solid #3b3d43;
	background:#fff;
	margin-top:115px;
	padding: 18px 18px 22px;
}

.add_heading{
	margin:0px auto;
	width:100%;
	height:25px;
	line-height:25px;
	border:0px solid #0F0;
}

.add_heading h1{
	float:left;
	margin:0px;
	font-size:18px;
	color:#3b3d43;
}

.add_heading a {
    border: 1px solid #3b3d43;
    color: #3b3d43;
    float: right;
    font-size: 13px;
    font-weight: bold;
    margin: 0;
    padding: 0 8px;
    text-decoration: none;
    text-transform: uppercase;
}

.cart_prdct_01{
	margin:0px auto;
	border:0px solid #F0F;
	margin-top:15px;
}

.add_left{
	float:left;
	width:290px;
	border:0px solid #FF0;
}

.add_text{
	float:right;
	width:70%;
	padding-top:10px;
	border:0px solid #00F;
}

.add_text p a{
	float:left;
	margin:0px;
	font-size:13px;
	color:#3b3d43;
	line-height:14px;
	text-decoration:none;
}

.add_cointer {
	float:left;
	clear:both;
	height:25px;
	line-height:25px;
	margin-top:10px;
	border:0px solid #F0F;
}

.add_cointer input{
	float:left;
	width:31px;
	height:25px;
	background:#d3d4d2;
	border:none;
	margin-right: 7px;
	text-align: center;
	font-weight:bold;
	
}

.add_cointer label{
	float:left;
	margin:0px;
	font-size:13px;
	color:#3b3d43;
	margin-left:10px;
}

.close_cross{
	float:right;
	margin-top:40px;
}

.continue_main{
	margin:0px auto;
	width:100%;
	border:0px solid #FF0;
	margin-top:20px;
}

.continue{
	float:left;
	height:25px;
	line-height:22px;
	background:#d3d4d2;
}

.continue a{
	margin:0px auto;
	font-size:13px;
	color:#3b3d43;
	text-decoration:none;
	text-transform:uppercase;
	padding:0 10px 0 10px;
	font-weight:bold;
}

.continue1{
	float:right;
	height:25px;
	line-height:22px;
	background:#d3d4d2;
}

.continue1 a{
	margin:0px auto;
	font-size:13px;
	color:#3b3d43;
	text-decoration:none;
	text-transform:uppercase;
	padding:0 10px 0 10px;
	font-weight:bold;
}

/*page_7_end*/



/*page_8_start*/

.shopping_cart_main{
	margin:0px auto;
}

/*page_8_end*/


.inspir_left_imgs{
	float:left;
	width:495px;
	border:0px solid #0F0;
}


.inspir_right_imgs{
	float:right;
	width:495px;
	border:0px solid #0F0;
}

.inspire_thumb_main{
	margin:0px auto;
	width:100%;
}

.inpire_01{
	float:right;
	width:100%;
	height:100%;
	overflow:hidden;
	cursor: pointer;
	position: relative;
}

.inpire_01:hover .hover_div_name  {
	-moz-transform: translateY(-76%);
	-o-transform: translateY(-76%);
	-webkit-transform: translateY(-76%);
	opacity: 1;
	transform: translateY(-76%);
}


.cam_icon{
	float:left;
	width:100%;
	/*height:450px;*/
	overflow:hidden;
	cursor: pointer;
	position: relative;
}

.cam_icon:hover .hover_div_name  {
	-moz-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	-webkit-transform: translateY(-100%);
	opacity: 1;
	transform: translateY(-100%);
}


.ins_prdct_01{
	float:left;
	width:243px;
	height:243px;
	margin-top:10px;
	overflow:hidden;
	cursor: pointer;
	position: relative;
	/*background-image:url(../images/picture_icon_03.png);
	background-repeat:no-repeat;background-position:center;
	background-color:#a9bb6a;*/
}



.hover_div_name{
	position: absolute;
	color: #fff;
	z-index: 100;
		-webkit-transition: all 300ms ease-out;
		-moz-transition: all 300ms ease-out;
		-o-transition: all 300ms ease-out;
		-ms-transition: all 300ms ease-out;	
		transition: all 300ms ease-out;
	left: 0;
	background:url(../images/hover_bg.png);
	bottom: -40px;
	text-align:left;
	padding-left:10px;
	
}

.ins_prdct_01:hover .hover_div_name  {
	-moz-transform: translateY(-76%);
	-o-transform: translateY(-76%);
	-webkit-transform: translateY(-76%);
	opacity: 1;
	transform: translateY(-76%);
}

.hover_div_name a{
	height: 30px;
	width: 200px;
	display: block;
	bottom: -30px;
	line-height: 25pt;
	text-decoration:none;
	color:#fff;
	text-transform:uppercase;
	font-size:13px;
	/*
	margin:0px;
	margin-left:20px;
	
	*/
}

.ins_prdct_02{
	float:right;
	width:243px;
	height:243px;
	margin-top:10px;
	overflow:hidden;
	cursor: pointer;
	position: relative;
}

.ins_prdct_02:hover .hover_div_name  {
	-moz-transform: translateY(-76%);
	-o-transform: translateY(-76%);
	-webkit-transform: translateY(-76%);
	opacity: 1;
	transform: translateY(-76%);
}

.inpire_01{
	margin:0px auto;
	width:100%;
	height:495px;
	margin-top:10px;
/*	background-image:url(../images/picture_icon_03.png);
	background-repeat:no-repeat;background-position:center;
	background-color:#a9bb6a;*/
}

.inspire_peragraph{
	margin:5px auto 0;
	width:100%;
	border:0px solid #0F0;
	float:left;
}

.inspire_peragraph label{
	 float:left;
	 margin:0px;
	 font-size:17px;
	 color:#3b3d43;
}

.inspire_peragraph p{
	 float:left;
	 clear:both;
	 margin:0px;
	 font-size:17px;
	 color:#3b3d43;
	 line-height:19px;
}



.contact_hasla{
	float:left;
	border:0px solid #00F;
}

.contact_hasla h1{
	float:left;
	margin:0px;
	clear:both;
	font-size:13px;
	color:#3b3d43;
	text-transform:uppercase;
	margin-top:22px;
	line-height:17px;
}


.contact_hasla label{
	float:left;
	margin:0px;
	clear:both;
	font-size:13px;
	line-height:17px;
	color:#3b3d43;
}

.contact_hasla p{
	float:left;
	margin:0px;
	clear:both;
	width:530px;
	font-size:13px;
	line-height:17px;
	color:#3b3d43;
	/*margin-top:20px;*/
	margin:0;
}

.main_tbl_row td{
	border-top:1px solid #3b3d43;
}

.shopping_tbl_mian{
	margin:0px auto;
	margin-top:25px;
	border:0px solid #F00;
}

.name_tbl{
	width:330px;
	height:30px;
	line-height:30px;
}

.name_tbl label{
	font-size:13px;
	color:#3b3d43;
	margin-left:30px;
	text-transform:uppercase;
}

.art_tbl{
	width:85px;
	height:30px;
	line-height:30px;
}

.art_tbl label{
	margin:0px;
	font-size:13px;
	color:#3b3d43;
	text-transform:uppercase;
}



.saving_tbl{
	width:110px;
	height:30px;
	line-height:30px;
}

.saving_tbl label{
	margin:0px;
	font-size:13px;
	color:#3b3d43;
	text-transform:uppercase;
}

.saving_tbl input{
	float:left;
	width:74px;
	height:22px;
	text-align:center;
	border:1px solid #3b3d43;
}
	


.total_tbl{
	width:140px;
	height:30px;
	line-height:30px;
}

.total_tbl img{
	float:right;
}

.total_tbl label{
	margin:0px;
	font-size:13px;
	color:#3b3d43;
	text-transform:uppercase;
}

.total_tbl span{
	margin:0px;
	font-size:13px;
	color:#3b3d43;
	text-transform:uppercase;
}


.product_tbl{
	width:330px;
	height:75px;
}

.product_tbl img{ 
	float:left;
}


.product_tbl label{
	float:left;
	font-size:13px;
	color:#3b3d43;
	margin-left:10px;
	margin-top:15px;
	text-transform:uppercase;
}

.product_tbl span{
	float:left;
	font-size:12px;
	color:#3b3d43;
	margin-left:10px;
	clear:both;
}

.extra{
	float:left;
}


.art_tbl_1{
	width:85px;
	height:30px;
}

.art_tbl_1 label{
	margin:0px;
	float:left;
	font-size:11px;
	color:#3b3d43;
	text-transform:uppercase;
}

.art_tbl_1 span{
	margin:0px;
	float:left;
	font-size:13px;
	color:#3b3d43;
	text-transform:uppercase;
}

.art_tbl_1 input{
	float:left;
	width:27px;
	height:22px;
	text-align:center;
	border:1px solid #3b3d43;
}

.total_div{
	margin:0px auto;
	width:100%;
	/* min-height:110px; */
	padding-top:15px;
	border-top:1px solid #3b3d43;
}

.total_right{
	float:right;
	width:250px;
	border:0px solid #F00;
}

.sub_total{
	margin:0px auto;
	margin-top:10px;
}

.sub_lft{
	float:left;
	width:132px;
	height:20px;
	text-align:left;
	font-size:13px;
	color:#3b3d43;
	border:0px solid #0F0;
}



.sub_right{
	float:right;
	width:80px;
	height:20px;
	text-align:left;
	font-size:13px;
	color:#3b3d43;
	text-transform:uppercase;
	border:0px solid #FF0;
}


.sub_lft1{
	float:left;
	width:132px;
	height:20px;
	text-align:left;
	font-size:13px;
	color:#3b3d43;
	font-weight:600;
	border:0px solid #0F0;
}



.sub_right1{
	float:right;
	width:80px;
	height:20px;
	text-align:left;
	font-size:13px;
	color:#3b3d43;
	font-weight:600;
	text-transform:uppercase;
	border:0px solid #FF0;
}

.discount_code{
	float:right;
	width:172px;
	height:23px;
	line-height:23px;
	border:0px solid red;
}

.discount_code label{ 
	float:left;
	margin:0px;
	font-size:14px;
	color:#3b3d43;
}

.discount_code input[type="text"]{ 
	float:right;
	width:70px;
	height:21px;
	border:1px solid #3b3d43;
	font-size:12px;
	padding-left:5px;
	color:#3b3d43;
}

.tbl_button_main{
	float:left;
	float:right;
	width:502px;
	margin-top:8px;
	border:0px solid #0F0;	
}

.tbl_buttn_01{
	float:left;
/* 	height:23px; */
	line-height:27px;
	text-align:center;
	background:#3b3d43;
}

.tbl_buttn_01 a{
	margin:0px auto;
	padding-left:10px;
	padding-right:10px;
	font-size:13px;
	color:#fff;
	font-weight:600;
	text-transform:uppercase;
	text-decoration:none;
	font-weight:bold;
}

.tbl_buttn_02{
	float:right;
	/* height:23px; */
	line-height:23px;
	text-align:center;
	background:#448e99;
}

.tbl_buttn_02 a{
	margin:0px auto;
	padding-left:10px;
	padding-right:10px;
	font-size:13px;
	color:#fff;
	font-weight:600;
	text-transform:uppercase;
	text-decoration:none;
}

.tbl_buttn_03{
	float:right;
	/* height:23px; */
	line-height:23px;
	text-align:center;
	background:#b6b7b9;
	margin-left:11px;
	width:157px;
}

.tbl_buttn_03 a{
	margin:0px auto;
	padding-left:10px;
	padding-right:10px;
	font-size:13px;
	color:#fff;
	font-weight:600;
	text-transform:uppercase;
	text-decoration:none;
	font-weight:bold;
}

#margin_left_10{
	margin-left:14px;
}

.size_tbl{
	margin-top:20px;
	text-align:center;
}

.size_tbl td{
	border:1px solid #3b3d43;
}

.about_main_div{
	margin:0px auto;
	width:100%;
	border-top: 0;
	
}

.abbout_left{
	float:left;
	width:146px;
	border:0px solid #0F0;
}

.abbout_left h1{
	float:left;
	margin:0px;
	font-size:17px;
	color:#3b3d43;
}


.abbout_left ul{
	margin:0px;
	padding:0px;
	margin-top:40px;
	list-style:none;
}

.abbout_left li{
	clear:both;
	line-height:17px;
}

.abbout_left a{
	float:left;
	margin:0px;
	font-size:13px;
	color:#3b3d43;
	font-weight:600;
	text-decoration:none;
}

.abbout_left a:hover, .abbout_left a.active{
	color:#448e99;
}

#left_product_active{
	color:#448e99;
	font-weight:bold;
}


.about_right{
	float:right;
	width:833px;
	border:0px solid #F0F;	
}

.about_right h1{
	float:left;
	margin:0px;
	font-size:17px;
	color:#3b3d43;
}


.about_right p{
	float:left;
	margin:0px;
	clear:both;
	font-size:16px;
	color:#3b3d43;
}

.delivery_condition_main{
	margin:0px auto;
	width:100%;
	border:0px solid #0F0;
}

.condition_left{
	float:left;
	border:0px solid #F00;
	width:490px;
}

.condition_left h1{
	float:left;
	margin:0px;
	font-size:17px;
	color:#3b3d43;
	font:normal;
	font-weight:normal;
	margin: 20px 0 0;
}

.condition_left h2{
	float:left;
	margin:0px;
	font-size:13px;
	color:#3b3d43;
	clear:both;
	margin-top:20px;
}

.condition_left p{
	float:left;
	margin:0px;
	font-size:14px;
	color:#3b3d43;
	font:normal;
	clear:both;
}

.condition_right{
	float:right;
	border:0px solid #F00;
	width:490px;
	padding-top:20px;
}

.condition_right h2{
	float:left;
	margin:0px;
	font-size:13px;
	color:#3b3d43;
	clear:both;
	margin-top:20px;
}

.condition_right p{
	float:left;
	margin:0px;
	font-size:14px;
	color:#3b3d43;
	font:normal;
	clear:both;
}

.minicart-wrapper .add_heading h1 {
    color: #3b3d43;
    float: left;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    /*text-transform: capitalize;*/
}
.retailers .retl .retl-li{
	display:inline;
}

.total_div{
	float:right;
}
#shopping-cart-totals-table{
	margin-left: 82%;
	/* float: left; 
	width: 132px;*/
	height: 20px;
	text-align: left;
	font-size: 13px;
	color: #3b3d43;
	border: 0px solid #0F0;
}
.checkout-types{
	margin-left: 75%;
	position: relative;
}

.checkout-types > li {
    position: absolute;
    right: 0;
	bottom: -65px;
	top:25px;
}




/*registration_page_css_start*/

.invice_div{
	float:left;
	width:25%;
	border:0px solid red;
}

.invoce_heading{
	margin:0px auto;
	width:100%;
	height:42px;
	line-height:42px;
	border-bottom:1px solid #3a3b43;
}

.invoce_heading h2{
	float:left;
	margin:0px;
	font-size:16px;
	color:#3a3b43;
}


.first_input_main{
	margin:0px auto;
	width:100%;
	margin-top:15px;
	border:0px solid #0F0;
}

.inv_left_01{
	float:left;
	width:30%;
	border:0px solid #F0F;
}

.inv_left_01 label{
	float:left;
	margin:0px;
	font-size:14px;
	color:#3a3b43;
}

.inv_left_01 span{
	color:#ef3211;
}

.inv_left_01 input[type="text"]{
	float:left;
	clear:both;
	width:100%;
	border:1px solid #3a3b43;
	height:22px;
	line-height:22px;
}


.inv_left_01 input[type="checkbox"]{
	float:left;
	clear:both;
}


.inv_left_02{
	float:right;
	width:65%;
	border:0px solid #F0F;
}

.inv_left_02 label{
	float:left;
	margin:0px;
	font-size:14px;
	color:#3a3b43;
}

.inv_left_02 span{
	color:#ef3211;
}

.inv_left_02 input[type="text"]{
	float:left;
	clear:both;
	width:100%;
	border:1px solid #3a3b43;
	height:22px;
	line-height:22px;
}

.inv_left_03{
	float:left;
	width:100%;
	margin-top:15px;
	border:0px solid #F0F;
}

.inv_left_03 img{
	float:right;
}

.inv_left_03 label{
	float:left;
	margin:0px;
	font-size:14px;
	color:#3a3b43;
}

.inv_left_03 p{
	float:left;
	width:80%;
	margin:0px;
	font-size:12px;
	color:#3a3b43;
	margin-left:5px;
}



.inv_left_03 input[type="checkbox"]{
	float:left;
	clear:both;
}


.secnd_input_main{
	margin:0px auto;
	width:100%;
	margin-top:15px;
	border:0px solid #0F0;
}

.secnd_input_main label{
	float:left;
	margin:0px;
	font-size:14px;
	color:#3a3b43;
}

.secnd_input_main span{
	color:#ef3211;
}

.secnd_input_main input[type="text"]{
	float:left;
	clear:both;
	width:100%;
	border:1px solid #3a3b43;
	height:22px;
	line-height:22px;
}

.secnd_input_main input[type="password"]{
	float:left;
	clear:both;
	width:100%;
	border:1px solid #3a3b43;
	height:22px;
	line-height:22px;
	background: #fff;
}

.inv_check_div{
	margin:0px auto;
	margin-top:15px;
}

.inv_check_div checkbox{
	float:left;
	margin:0px;
}

.inv_check_div p{
	float:right;
	margin:0px;
	width:90%;
	font-size:14px;
	color:#3a3b43;
}

.inv_check_div label{
	float:right;
	clear:both;
	width:90%;
	margin:0px;
	font-size:14px;
	color:#3a3b43;
}

.invice_adress{
	float:left;
	width:25%;
	border:0px solid #F0F;
	margin-left:50px;
}

.summary_div{
	float:left;
	width:40%;
	border:0px solid red;
	margin-left:44px;
}



.table_first{
	width:12%;
	text-align:center;
	height:24px;
	line-height:24px;
	font-size:12px;
	color:#3a3b43;
	
}

.table_secnd{
	width:30%;
	text-align:left;
	padding-left:10px;
	height:24px;
	line-height:24px;
	font-size:12px;
	color:#3a3b43;
	
}

.table_third{
	width:20%;
	text-align:center;
	height:24px;
	line-height:24px;
	font-size:12px;
	color:#3a3b43;
	
}

.summary_total_div{
	margin:0px auto;
	width:100%;
	height:28px;
	border-bottom:1px solid #3a3b43;
	border-top:1px solid #3a3b43;
}

.tbl_button_2{
	float:left;
	float:right;
	width:100%;
	margin-top:15px;
	border:0px solid #0F0;	
}

/*registration_page_css_end*/



/*login_page_css_start*/


.login_page_main{
	float:right;
	width:832px;
	border:0px solid red;
}

.login_left{
	float:left;
	width:337px;
	border:0px solid #0F0;
	margin:0 0 20px 0;
}

.login_left p{
	float:left;
	margin:0px;
	font-size:14px;
	color:#3a3b43;
	line-height:16px;
	margin-top:10px;
}

.login_button{
	width:100%;
	background:#d2d3d2;
	height:24px;
	margin-top:20px;
}

.login_button a{
	float:left;
	margin:0px;
	font-size:14px;
	color:#3a3b43;
	margin-left:10px;
	text-decoration:none;

}


.login_close{
	float:left;
	margin-top:2px;
	line-height:25px;
	border:0px solid #FF0;
}

.login_close input[type="checkbox"]{
	float:left;
	margin-top:5px;
}

.login_close a{
	float:left;
	margin: -2px;
	font-size:14px;
	color:#3a3b43;
	margin-left: 0px;
	margin-right: 5px;
	text-decoration:none;
}

.secnd_input_main_2{
	margin:0px auto;
	width:100%;
	margin-top:15px;
	border:0px solid #0F0;
}

.secnd_input_main_2 label{
	float:left;
	margin:0px;
	font-size:14px;
	color:#3a3b43;
}

.secnd_input_main_2 span{
	color:#ef3211;
}

.secnd_input_main_2 input[type="text"]{
	float:left;
	clear:both;
	width:252px;
	border:1px solid #3a3b43;
	height:22px;
	line-height:22px;
	background:#fff;
}

.secnd_input_main_2 input[type="password"]{
	float:left;
	clear:both;
	width:252px;
	border:1px solid #3a3b43;
	height:22px;
	line-height:22px;
}



.login_left_02{
	float:left;
	width:423px;
	margin-left:68px;
	border:0px solid #0F0;
}

.login_left_02 p{
	float:left;
	margin:0px;
	font-size:14px;
	color:#3a3b43;
	line-height:16px;
	margin-top:10px;
	width:345px;
}

/*login_page_css_end*/

/***add by vimal*****/

.fb_like iframe {
    width: 154px !important;
}

.product-image > img , .img > img{
    border-bottom: 1px solid #3b3d43;
    height: auto;
	float:left;
}

.no-rating a{line-height:30px;}

.pluginButton {
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    line-height: 20px;
    text-shadow: 0 -1px 0 #354c8c;
    white-space: nowrap;
	background:none !important;
}

.product-prev > span {
    font-size: 27px;
    font-weight: normal;
    left: -4px;
    line-height: 18px;
    position: relative;
    top: 4px;
}

.product-next > span{
	 font-size: 27px;
    font-weight: normal;
    
    line-height: 18px;
    position: relative;
    top: 4px;
	
}

.main_slider1 {
    border-top: 0;
    clear: both;
    margin: 0 auto;
    width: 100%;
}


.employee-box-set{    
	color: #3b3d43;
    float: left;
    font-size: 13px;
    line-height: 15px;
    margin: 5px 0 0;
    width:100%;}
	
.about_main_div	 h1 {
    color: #3b3d43;
     font-size: 17px;
    font-weight: normal;
	text-transform:uppercase;
   
}

.about_main_div p{ 
	 clear: both;
    color: #3b3d43;
    float: left;
    font-size: 14px;
    margin: 20px 0;
}
.review_box{float:left;}

.about_left_set{float:left;}

.ins_prdct_01 img, .ins_prdct_02 img, .inpire_01 img, .cam_icon img{width:100%; /*height:100%*/;}


/****Missing Css Add From Nirav*****/

.product_main_res{display:none;}


.shopping_res_main { display: none; }

.product_cart_320 { display: none; }

.forgot-submit-btn {
    background: none repeat scroll 0 0 #d2d3d2;
    width: 264px;
	margin: 15px 0 0;
}

.forgot-submit-btn button span{color:#000; font-weight:normal; text-transform:none;}

.fieldset p{font-size:15px;}

/*****************/



/**** Inspiration ****/

.banner {
margin: 0px auto;
width: 1000px;
height:auto;
/*background: #a9bb6a;
background-image: url(../images/picture_icon_03.png);
background-repeat: no-repeat;
background-position: center;
background-color: #a9bb6a;*/
}
.inspir_left_imgs{
	float:left;
	width:495px;
	border:0px solid #0F0;
}


.inspir_right_imgs{
	float:right;
	width:495px;
	border:0px solid #0F0;
}

.inspire_thumb_main{
	margin:0px auto;
	width:100%;
}

.inpire_01{
	margin:0px auto;
	width:100%;
}

.ins_prdct_01{
	float:left;
	width:243px;
	height:243px;
	margin-top:10px;
	/*background-image:url(../images/picture_icon_03.png);
	background-repeat:no-repeat;background-position:center;
	background-color:#a9bb6a;*/
}

.hover_div_name{
	margin:0px auto;
	width:100%;
	height:40px;
	line-height:40px;
	background:url(../images/hover_bg.png);
	/*margin-top:203px;*/
	z-index: 99999;
	position: relative;
	width: 100%;
	/*top: -46px;*/
	margin: -46px 0px 0px;
}

.hover_div_name a{
	margin:0px;
	font-size:13px;
	color:#fff;
	text-transform:uppercase;
	margin-left:20px;
	text-decoration:none;
}

.ins_prdct_02{
	float:right;
	width:243px;
	height:243px;
	margin-top:10px;
	/*background-image:url(../images/picture_icon_03.png);
	background-repeat:no-repeat;background-position:center;
	background-color:#a9bb6a;*/
}


.inpire_01{
	margin:0px auto;
	width:100%;
	height:495px;
	margin-top:10px;
	/*background-image:url(../images/picture_icon_03.png);
	background-repeat:no-repeat;background-position:center;
	background-color:#a9bb6a;*/
}

.inspire_peragraph{
	margin:0px auto;
	width:100%;
	border:0px solid #0F0;
	margin-top:10px;
}

.inspire_peragraph label{
	 float:left;
	 margin:0px;
	 font-size:17px;
	 color:#3b3d43;
}

.inspire_peragraph p{
	 float:left;
	 clear:both;
	 margin:0px;
	 font-size:17px;
	 color:#3b3d43;
	 line-height:19px;
}

/*** End Insiration ***/

.dashboard{
	margin-top:30px;	
}

.my-account{
	margin-top:30px;	
}

.responsive_order_list{
	margin:0px auto;
	border:0px solid red;	
}

/*3 col */
.left_div_3{
	float:left;
	width:32.6%;
	height:160px;
	background:#d3d4d2;
}

.dtls_right_text_3{
	float:left;
	width:150px;
	overflow:hidden;
	height:125px;
	border:0px solid #0F0;
	margin-left:14px;
	margin-top:18px;
}

.dtls_right_text_3 h1{
	/*float:left;*/
	margin:0px;
	font-size:13px;
	color:#3b3d43;
}


.dtls_right_text_3 p{
	/*float:left;*/
	margin:0px;
	line-height:16px;
	font-size:13px;
	color:#3b3d43;
}

.dtls_right_text_3 a{
	float:left;
	margin:0px;
	font-size:12px;
	color:#448e99;
	text-decoration:none;
}

.dtl_img_3{
	float: left;
    height: 160px;
    width: 158px;
}


.dtls_right_text_3 h1 a{color:#000; text-transform:none; font-size: 14px;}

/* 3 col */



/* CAMPAIGN BAR ON TOP OF THE WEBSITE*/
#campaign-bar{
color: white;
/*font-weight: bold;*/
text-align: center;
font-size: 12px;
text-transform: uppercase;
font-family: HelveticaNeueLTStd-Bd, helvetica, arial, sans-serif;
line-height: 34px;
letter-spacing: 1px;
background-color: #448e99;
}