<?xml version="1.0"?>
<config>
  <modules>
    <Hasla_Press>
      <version>0.1.0</version>
    </Hasla_Press>
  </modules>
  <frontend>
    <routers>
      <press>
        <use>standard</use>
          <args>
            <module>Hasla_Press</module>
            <frontName>press</frontName>
          </args>
      </press>
    </routers>
		<layout>
		  <updates>
			<press>
			  <file>press.xml</file>
			</press>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <press>
        <class>Hasla_Press_Helper</class>
      </press>
    </helpers>
	<blocks>
	  <press>
		<class>Hasla_Press_Block</class>
	  </press>
	</blocks>
	<models>
	  <press>
		<class>Hasla_Press_Model</class>
		<resourceModel>press_mysql4</resourceModel>
	  </press>
	  <press_mysql4>
		<class>Hasla_Press_Model_Mysql4</class>
		<entities>		  
			  <press>
				<table>hasla_press</table>
			  </press>
        </entities>
	  </press_mysql4>
	</models>
	<resources>
	  <press_setup>
		<setup>
		  <module>Hasla_Press</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </press_setup>
	  <press_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </press_write>
	  <press_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </press_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <press>
	    <use>admin</use>
		<args>
		  <module>Hasla_Press</module>
		  <frontName>press</frontName>
		</args>
	  </press>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <press module="press">
		<title>Press</title>
		<sort_order>100</sort_order>
		<children>
		  <press module="press">
		    <title>Manage Press</title>
			<sort_order>0</sort_order>
			<action>press/adminhtml_press</action>
		  </press>
		</children>
	  </press>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<press translate="title" module="press">
			  <title>Press</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <press translate="title">
			<title>Manage Press</title>
			<sort_order>0</sort_order>
		  </press>
			  </children>
			</press>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<press>
		  <file>press.xml</file>
		</press>
	  </updates>
	</layout>
  </adminhtml>
</config> 