<?xml version="1.0"?>
<config>
  <modules>
    <Hasla_Employees>
      <version>0.1.0</version>
    </Hasla_Employees>
  </modules>
  <frontend>
    <routers>
      <employees>
        <use>standard</use>
          <args>
            <module>Hasla_Employees</module>
            <frontName>employees</frontName>
          </args>
      </employees>
    </routers>
		<layout>
		  <updates>
			<employees>
			  <file>employees.xml</file>
			</employees>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <employees>
        <class>Hasla_Employees_Helper</class>
      </employees>
    </helpers>
	<blocks>
	  <employees>
		<class>Hasla_Employees_Block</class>
	  </employees>
	</blocks>
	<models>
	  <employees>
		<class>Hasla_Employees_Model</class>
		<resourceModel>employees_mysql4</resourceModel>
	  </employees>
	  <employees_mysql4>
		<class>Hasla_Employees_Model_Mysql4</class>
		<entities>		  
			  <employees>
				<table>hasla_employees</table>
			  </employees>
        </entities>
	  </employees_mysql4>
	</models>
	<resources>
	  <employees_setup>
		<setup>
		  <module>Hasla_Employees</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </employees_setup>
	  <employees_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </employees_write>
	  <employees_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </employees_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <employees>
	    <use>admin</use>
		<args>
		  <module>Hasla_Employees</module>
		  <frontName>employees</frontName>
		</args>
	  </employees>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <employees module="employees">
		<title>Employees</title>
		<sort_order>100</sort_order>
		<children>
		  <employees module="employees">
		    <title>Manage Employees</title>
			<sort_order>0</sort_order>
			<action>employees/adminhtml_employees</action>
		  </employees>
		</children>
	  </employees>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<employees translate="title" module="employees">
			  <title>Employees</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <employees translate="title">
			<title>Manage Employees</title>
			<sort_order>0</sort_order>
		  </employees>
			  </children>
			</employees>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<employees>
		  <file>employees.xml</file>
		</employees>
	  </updates>
	</layout>
  </adminhtml>
</config> 